name: Deploy static site to GitHub Pages

on:
  push:
    branches:
      - main    # o la rama que uses

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: public
      - uses: actions/deploy-pages@v4
